body {
  background-color: #7a9bcf;
}
main {
  width: 70vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  margin: 10rem auto;
  background-color: white;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 20px;
}
.card {
  text-align: center;
  width: 33.33%;
  padding: 4rem 0;
  justify-content: center;
}
.card p {
  color: #9c9c9d;
  font-size: 1rem;
  font-weight: 400;
  width: 70%;
  margin: 0 auto 1rem;
}
.card h1 {
  color: #6175c4;
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 1.5rem;
  margin: 1rem auto;
}
.card img {
  width: 7rem;
  height: 5rem;
}
.card:hover {
  background-color: #f7f5f7;
}

.price {
  display: flex;
  flex-direction: row;
  width: 2rem;
  justify-content: center;
  margin: 0 auto;
  color: #6175c4;
  font-weight: 800;
}
.price p {
  color: #6175c4;
  font-size: 1.5rem;
  font-weight: 800;
}
.price sup {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
}
.price sub {
  display: inline-block;
  font-size: 1rem;
  margin-top: 0.5rem;
}
